{% extends "stats/layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block body %}
<div id="about">
    <div id="text">
        Hi, I'm JoosyMoosy and this is my website Movie Stats! I enjoy rating things 
        I watch and looking at the stats, so I created this website as a fun little side project. Hope you enjoy it! 
        If you have any suggestions for features to add, feel free to message me!
        <br>
        <a class="link" href="https://www.reddit.com/user/joosymoosy"> Reddit &nbsp;</a>
        <a class="link" href="discordapp.com/users/284165106282004480"> Discord</a>
    </div>
</div>
{% endblock %}