{% extends "stats/layout.html" %}

{% block title %}
    Import CSV
{% endblock %}

{% block body %}
    <h1 id="notice">
        IMPORTANT! At minimum, columns named "Title" are required. Optional columns include "Date" (date watched), and "Rating". All other columns will be disregarded.
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'import_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>                    
        </div>
        <div class="form-group">                    
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div> 
        </div>
    </form>
{% endblock %}